teste.wsdl


<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.7-b01  svn-revision#13316. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://impl.ws.wsatendimento.unipass.com.br/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://impl.ws.wsatendimento.unipass.com.br/" name="AtendimentoWSImplService">
<!--
<types>
<xsd:schema>
<xsd:import namespace="http://impl.ws.wsatendimento.unipass.com.br/" schemaLocation="http://www.unipass.desenv.scopus.com.br:80/unipass-webservice-atendimento/atendimentows?xsd=1"/>
</xsd:schema>
</types> -->


<message name="removeUser">
<part name="relationshipId" type="xsd:long"/>
<part name="isAdmin" type="xsd:boolean"/>
</message>
<message name="removeUserResponse">
<part name="response" type="xsd:boolean"/>
</message>
<message name="WebServiceException">
<part name="fault" element="tns:WebServiceException"/>
</message>
<message name="findUserByIdRelationshipAndDomain">
<part name="ip" type="xsd:string"/>
<part name="relationshipId" type="xsd:long"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="findUserByIdRelationshipAndDomainResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="updateUserDomain">
<part name="relationshipId" type="xsd:long"/>
<part name="status" type="xsd:int"/>
</message>
<message name="updateUserDomainResponse">
<part name="response" type="xsd:boolean"/>
</message>
<message name="getConfiguracaoDominio">
<part name="ip" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="getConfiguracaoDominioResponse">
<part name="response" type="tns:domainConfigurationResponse"/>
</message>
<message name="sendMessagePushToDevice">
<part name="finalUserIP" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
<part name="relationshipId" type="xsd:long"/>
</message>
<message name="sendMessagePushToDeviceResponse">
<part name="response" type="tns:responseWS"/>
</message>
<message name="listUsersByAdmin">
<part name="domainId" type="xsd:int"/>
<part name="relationshipId" type="xsd:long"/>
<part name="page" type="xsd:int"/>
<part name="maxRecords" type="xsd:int"/>
</message>
<message name="listUsersByAdminResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="inactivateUnipass">
<part name="finalUserIP" type="xsd:string"/>
<part name="userId" type="xsd:long"/>
</message>
<message name="inactivateUnipassResponse">
<part name="response" type="tns:updateUnipassStatusResponse"/>
</message>
<message name="findDomainAccessLog">
<part name="finalUserIP" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
<part name="userId" type="xsd:long"/>
<part name="filterParams" type="tns:accessLogRequest"/>
</message>
<message name="findDomainAccessLogResponse">
<part name="response" type="tns:accessLogResponse"/>
</message>
<message name="updateUserData">
<part name="finalUserIP" type="xsd:string"/>
<part name="userName" type="xsd:string"/>
<part name="userEmail" type="xsd:string"/>
<part name="userPhone" type="xsd:string"/>
<part name="userSecundaryPhone" type="xsd:string"/>
<part name="adminRelationshipId" type="xsd:long"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="updateUserDataResponse">
<part name="response" type="tns:updateUserDataResponse"/>
</message>
<message name="getUserDetails">
<part name="finalUserIP" type="xsd:string"/>
<part name="userId" type="xsd:long"/>
</message>
<message name="getUserDetailsResponse">
<part name="response" type="tns:userResponse"/>
</message>
<message name="testeZabbix">
<part name="finalUserIP" type="xsd:string"/>
</message>
<message name="testeZabbixResponse">
<part name="response" type="tns:responseWS"/>
</message>
<message name="sendDataToDevice">
<part name="finalUserIP" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
<part name="relationshipId" type="xsd:long"/>
<part name="data" type="xsd:string"/>
<part name="tag" type="xsd:string"/>
</message>
<message name="sendDataToDeviceResponse">
<part name="response" type="tns:sendDataToDeviceResponse"/>
</message>
<message name="readDataFromDevice">
<part name="finalUserIP" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
<part name="relationshipId" type="xsd:long"/>
</message>
<message name="readDataFromDeviceResponse">
<part name="response" type="tns:sendDataToDomainResponse"/>
</message>
<message name="getAllDomains">
<part name="ip" type="xsd:string"/>
</message>
<message name="getAllDomainsResponse">
<part name="response" type="tns:allDomainsResponse"/>
</message>
<message name="findUserByEmailAndDomain">
<part name="ip" type="xsd:string"/>
<part name="email" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="findUserByEmailAndDomainResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="findUserByPhoneAndDomain">
<part name="ip" type="xsd:string"/>
<part name="phone" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="findUserByPhoneAndDomainResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="findUserByNameAndDomain">
<part name="ip" type="xsd:string"/>
<part name="name" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="findUserByNameAndDomainResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="findUserBy">
<part name="ip" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
<part name="relationshipId" type="xsd:long"/>
<part name="email" type="xsd:string"/>
<part name="phone" type="xsd:string"/>
<part name="Name" type="xsd:string"/>
</message>
<message name="findUserByResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="createProfileForRecovery">
<part name="ip" type="xsd:string"/>
<part name="sessionId" type="xsd:string"/>
<part name="data" type="xsd:string"/>
</message>
<message name="createProfileForRecoveryResponse">
<part name="response" type="tns:responseWS"/>
</message>
<message name="createSessionForRecovery">
<part name="ip" type="xsd:string"/>
<part name="deviceId" type="xsd:string"/>
<part name="transactionKey" type="xsd:string"/>
</message>
<message name="createSessionForRecoveryResponse">
<part name="response" type="tns:responseWS"/>
</message>
<message name="listIpAccessLogByDateAndIp">
<part name="finalUserIP" type="xsd:string"/>
<part name="filterParams" type="tns:accessLogRequest"/>
</message>
<message name="listIpAccessLogByDateAndIpResponse">
<part name="response" type="tns:ipAccessPhraseValidateResponse"/>
</message>
<message name="recoveryProfileByCallCenter">
<part name="ip" type="xsd:string"/>
<part name="tokenId" type="xsd:long"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="recoveryProfileByCallCenterResponse">
<part name="response" type="tns:responseWS"/>
</message>
<message name="getDomainIpStatus">
<part name="finalUserIP" type="xsd:string"/>
<part name="domainId" type="xsd:int"/>
</message>
<message name="getDomainIpStatusResponse">
<part name="response" type="tns:domainIpStatusResponse"/>
</message>
<message name="listUsersAdminByDomain">
<part name="domainId" type="xsd:int"/>
<part name="page" type="xsd:int"/>
<part name="maxRecords" type="xsd:int"/>
<part name="search" type="xsd:string"/>
</message>
<message name="listUsersAdminByDomainResponse">
<part name="response" type="tns:usersResponse"/>
</message>
<message name="init"/>
<message name="initResponse"/>
<portType name="AtendimentoWSImpl">
<operation name="removeUser" parameterOrder="relationshipId isAdmin">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/removeUserRequest" message="tns:removeUser"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/removeUserResponse" message="tns:removeUserResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/removeUser/Fault/WebServiceException"/>
</operation>
<operation name="findUserByIdRelationshipAndDomain" parameterOrder="ip relationshipId domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByIdRelationshipAndDomainRequest" message="tns:findUserByIdRelationshipAndDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByIdRelationshipAndDomainResponse" message="tns:findUserByIdRelationshipAndDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByIdRelationshipAndDomain/Fault/WebServiceException"/>
</operation>
<operation name="updateUserDomain" parameterOrder="relationshipId status">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserDomainRequest" message="tns:updateUserDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserDomainResponse" message="tns:updateUserDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserDomain/Fault/WebServiceException"/>
</operation>
<operation name="getConfiguracaoDominio" parameterOrder="ip domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getConfiguracaoDominioRequest" message="tns:getConfiguracaoDominio"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getConfiguracaoDominioResponse" message="tns:getConfiguracaoDominioResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getConfiguracaoDominio/Fault/WebServiceException"/>
</operation>
<operation name="sendMessagePushToDevice" parameterOrder="finalUserIP domainId relationshipId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendMessagePushToDeviceRequest" message="tns:sendMessagePushToDevice"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendMessagePushToDeviceResponse" message="tns:sendMessagePushToDeviceResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendMessagePushToDevice/Fault/WebServiceException"/>
</operation>
<operation name="listUsersByAdmin" parameterOrder="domainId relationshipId page maxRecords">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersByAdminRequest" message="tns:listUsersByAdmin"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersByAdminResponse" message="tns:listUsersByAdminResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersByAdmin/Fault/WebServiceException"/>
</operation>
<operation name="inactivateUnipass" parameterOrder="finalUserIP userId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/inactivateUnipassRequest" message="tns:inactivateUnipass"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/inactivateUnipassResponse" message="tns:inactivateUnipassResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/inactivateUnipass/Fault/WebServiceException"/>
</operation>
<operation name="findDomainAccessLog" parameterOrder="finalUserIP domainId userId filterParams">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findDomainAccessLogRequest" message="tns:findDomainAccessLog"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findDomainAccessLogResponse" message="tns:findDomainAccessLogResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findDomainAccessLog/Fault/WebServiceException"/>
</operation>
<operation name="updateUserData" parameterOrder="finalUserIP userName userEmail userPhone userSecundaryPhone adminRelationshipId domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserDataRequest" message="tns:updateUserData"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserDataResponse" message="tns:updateUserDataResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/updateUserData/Fault/WebServiceException"/>
</operation>
<operation name="getUserDetails" parameterOrder="finalUserIP userId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getUserDetailsRequest" message="tns:getUserDetails"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getUserDetailsResponse" message="tns:getUserDetailsResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getUserDetails/Fault/WebServiceException"/>
</operation>
<operation name="testeZabbix">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/testeZabbixRequest" message="tns:testeZabbix"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/testeZabbixResponse" message="tns:testeZabbixResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/testeZabbix/Fault/WebServiceException"/>
</operation>
<operation name="sendDataToDevice" parameterOrder="finalUserIP domainId relationshipId data tag">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendDataToDeviceRequest" message="tns:sendDataToDevice"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendDataToDeviceResponse" message="tns:sendDataToDeviceResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/sendDataToDevice/Fault/WebServiceException"/>
</operation>
<operation name="readDataFromDevice" parameterOrder="finalUserIP domainId relationshipId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/readDataFromDeviceRequest" message="tns:readDataFromDevice"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/readDataFromDeviceResponse" message="tns:readDataFromDeviceResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/readDataFromDevice/Fault/WebServiceException"/>
</operation>
<operation name="getAllDomains">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getAllDomainsRequest" message="tns:getAllDomains"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getAllDomainsResponse" message="tns:getAllDomainsResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getAllDomains/Fault/WebServiceException"/>
</operation>
<operation name="findUserByEmailAndDomain" parameterOrder="ip email domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByEmailAndDomainRequest" message="tns:findUserByEmailAndDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByEmailAndDomainResponse" message="tns:findUserByEmailAndDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByEmailAndDomain/Fault/WebServiceException"/>
</operation>
<operation name="findUserByPhoneAndDomain" parameterOrder="ip phone domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByPhoneAndDomainRequest" message="tns:findUserByPhoneAndDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByPhoneAndDomainResponse" message="tns:findUserByPhoneAndDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByPhoneAndDomain/Fault/WebServiceException"/>
</operation>
<operation name="findUserByNameAndDomain" parameterOrder="ip name domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByNameAndDomainRequest" message="tns:findUserByNameAndDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByNameAndDomainResponse" message="tns:findUserByNameAndDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByNameAndDomain/Fault/WebServiceException"/>
</operation>
<operation name="findUserBy" parameterOrder="ip domainId relationshipId email phone Name">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByRequest" message="tns:findUserBy"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserByResponse" message="tns:findUserByResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/findUserBy/Fault/WebServiceException"/>
</operation>
<operation name="createProfileForRecovery" parameterOrder="ip sessionId data">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createProfileForRecoveryRequest" message="tns:createProfileForRecovery"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createProfileForRecoveryResponse" message="tns:createProfileForRecoveryResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createProfileForRecovery/Fault/WebServiceException"/>
</operation>
<operation name="createSessionForRecovery" parameterOrder="ip deviceId transactionKey">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createSessionForRecoveryRequest" message="tns:createSessionForRecovery"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createSessionForRecoveryResponse" message="tns:createSessionForRecoveryResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/createSessionForRecovery/Fault/WebServiceException"/>
</operation>
<operation name="listIpAccessLogByDateAndIp" parameterOrder="finalUserIP filterParams">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listIpAccessLogByDateAndIpRequest" message="tns:listIpAccessLogByDateAndIp"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listIpAccessLogByDateAndIpResponse" message="tns:listIpAccessLogByDateAndIpResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listIpAccessLogByDateAndIp/Fault/WebServiceException"/>
</operation>
<operation name="recoveryProfileByCallCenter" parameterOrder="ip tokenId domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/recoveryProfileByCallCenterRequest" message="tns:recoveryProfileByCallCenter"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/recoveryProfileByCallCenterResponse" message="tns:recoveryProfileByCallCenterResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/recoveryProfileByCallCenter/Fault/WebServiceException"/>
</operation>
<operation name="getDomainIpStatus" parameterOrder="finalUserIP domainId">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getDomainIpStatusRequest" message="tns:getDomainIpStatus"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getDomainIpStatusResponse" message="tns:getDomainIpStatusResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/getDomainIpStatus/Fault/WebServiceException"/>
</operation>
<operation name="listUsersAdminByDomain" parameterOrder="domainId page maxRecords search">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersAdminByDomainRequest" message="tns:listUsersAdminByDomain"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersAdminByDomainResponse" message="tns:listUsersAdminByDomainResponse"/>
<fault message="tns:WebServiceException" name="WebServiceException" wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/listUsersAdminByDomain/Fault/WebServiceException"/>
</operation>
<operation name="init">
<input wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/initRequest" message="tns:init"/>
<output wsam:Action="http://impl.ws.wsatendimento.unipass.com.br/AtendimentoWSImpl/initResponse" message="tns:initResponse"/>
</operation>
</portType>
<binding name="AtendimentoWSImplPortBinding" type="tns:AtendimentoWSImpl">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="removeUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findUserByIdRelationshipAndDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateUserDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getConfiguracaoDominio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="sendMessagePushToDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="listUsersByAdmin">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="inactivateUnipass">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findDomainAccessLog">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="updateUserData">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getUserDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="testeZabbix">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="sendDataToDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="readDataFromDevice">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getAllDomains">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findUserByEmailAndDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findUserByPhoneAndDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findUserByNameAndDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="findUserBy">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="createProfileForRecovery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="createSessionForRecovery">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="listIpAccessLogByDateAndIp">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="recoveryProfileByCallCenter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="getDomainIpStatus">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="listUsersAdminByDomain">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
<fault name="WebServiceException">
<soap:fault name="WebServiceException" use="literal"/>
</fault>
</operation>
<operation name="init">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</input>
<output>
<soap:body use="literal" namespace="http://impl.ws.wsatendimento.unipass.com.br/"/>
</output>
</operation>
</binding>
<service name="AtendimentoWSImplService">
<port name="AtendimentoWSImplPort" binding="tns:AtendimentoWSImplPortBinding">
<soap:address location="http://www.unipass.desenv.scopus.com.br:80/unipass-webservice-atendimento/atendimentows"/>
</port>
</service>
</definitions>